.container {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 800px;
  margin: auto;
}

.api {
  margin-top: 100px;
}

.link {
	width: 200px;
	margin-right: 100px;
	box-sizing: border-box;
	display: inline-block;
}

.data {
	background: #f1f1f1;
	padding: 20px;
}
.method {
	width: 100px;
	margin-right: 60px;
	display: inline-block;
}

.explain {
	float: right;
}

.usage {
  margin-top: 40px;
}
.mock {
  margin-top: 40px;
}
